secrets.h
/build/esp32.esp32.esp32/boot_app0.bin
/build/esp32.esp32.esp32/build.options.json
/build/esp32.esp32.esp32/flash_args
/build/esp32.esp32.esp32/partitions.csv
/build/esp32.esp32.esp32/sdkconfig
/build/esp32.esp32.esp32/Torn_Dashboard_ESP32_TFT.ino.bin
/build/esp32.esp32.esp32/Torn_Dashboard_ESP32_TFT.ino.bootloader.bin
/build/esp32.esp32.esp32/Torn_Dashboard_ESP32_TFT.ino.elf
/build/esp32.esp32.esp32/Torn_Dashboard_ESP32_TFT.ino.map
/build/esp32.esp32.esp32/Torn_Dashboard_ESP32_TFT.ino.partitions.bin