secrets.h
/build/esp32.esp32.esp32da/boot_app0.bin
/build/esp32.esp32.esp32da/build.options.json
/build/esp32.esp32.esp32da/flash_args
/build/esp32.esp32.esp32da/partitions.csv
/build/esp32.esp32.esp32da/sdkconfig
/build/esp32.esp32.esp32da/Torn_Dashboard_ESP32_TFT.ino.bin
/build/esp32.esp32.esp32da/Torn_Dashboard_ESP32_TFT.ino.bootloader.bin
/build/esp32.esp32.esp32da/Torn_Dashboard_ESP32_TFT.ino.elf
/build/esp32.esp32.esp32da/Torn_Dashboard_ESP32_TFT.ino.map
/build/esp32.esp32.esp32da/Torn_Dashboard_ESP32_TFT.ino.partitions.bin